<p></p>
<div class="container">
  <div class="panel panel-primary">

    <div class="panel-heading"><h3>About Component</h3></div>

    <div class="panel-body">
      <div>
        <h3>Infos:</h3>
        <ul class="list-group">
          <li class="list-group-item">Nom:<strong>{{infos.nom}}</strong> </li>
          <li class="list-group-item">Email:<strong>{{infos.email}}</strong> </li>
          <li class="list-group-item">Tel:<strong>{{infos.tel}}</strong> </li>
        </ul>
      </div>

      <form #f="ngForm" (ngSubmit)="onAddCommentaire(f.value)">
        <div class="form-group">
          <label class="control-label">Message:</label>
          <input required="" name="message" ngModel type="text"
                 [(ngModel)]="commentaire.message" >
          <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
            Ajouter commentaire
          </button>
        </div>
      </form>

      <div>
        <h3>Commentaires: </h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let c of comments">
            {{c.message}}
            <span class="badge"> {{c.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

