<p></p>
<div class="container">
  <div class="panel panel-primary">

    <div class="panel-heading"><h3>Gallery Component</h3></div>

    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
          <label>Mot Cle:</label>
          <input type="text" name="motCle" ngModel required [(ngModel)]="motCle">
          <button type="submit" class="btn btn-primary">Chercher</button>
        </div>
      </form>

      <div class="row">
        <div *ngFor="let p of pagePhotos?.hits" class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <img class="img-circle" src="{{p.userImageURL}}" height="40px" width="40px">
              {{motCle}}
            </div>
            <div class="panel-body cadre">
              <div>
                <p>User:{{p.user}}</p>
                <p>{{p.tags}}</p>
              </div>
              <img src="{{p.previewURL}}">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':currentPage==(i+1)}" class="clickable" *ngFor="let page of pages; let i=index">
            <a (click)="goToPage(i)"> {{i}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
