<!--
<p>App component</p>
<div>
  <ul>
    <li>Name: {{contact.name}}</li>
    <li>Name: {{contact.email}}</li>
  </ul>
</div>  -->

<p></p>
<div class="container">

  <button routerLink="/about" class="btn btn-primary">About</button>
  <button routerLink="/contacts" class="btn btn-primary">Contacts</button>
  <button routerLink="/gallery" class="btn btn-primary">Gallery</button>

  <!--
  <app-about></app-about>
  <div app-contacts=""></div> -->
</div>

<router-outlet>

</router-outlet>
